# Dependencies
node_modules/

# Environment files
.env
**/.env
**/.env.*
!**/.env.example

# Build and framework output
.vercel/
.turbo/
.svelte-kit/
.netlify/
vite.config.ts.timestamp-*

# Editor and OS junk
.idea/
.DS_Store
Thumbs.db

# Secrets
*.pem
