# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
node_modules/

# Env files
.env

# Vercel
.vercel

# Turbo
.turbo

# Build Outputs
.astro/
dist

# Misc
.DS_Store
*.pem
.idea/
