---
import BaseLayout from "$layouts/base-layout.astro";
import ChatInput from "$lib/components/chat-input.svelte";
---

<BaseLayout>
  <main class="mx-auto flex size-full max-w-3xl flex-col justify-end px-4 py-6">
    <ChatInput client:load />
  </main>
</BaseLayout>
