---
import BaseLayout from "$layouts/base-layout.astro";
import ChatComposer from "$lib/components/chat-composer.svelte";
---

<BaseLayout>
  <main class="mx-auto flex size-full max-w-3xl flex-col justify-end px-4 py-6">
    <ChatComposer client:load />
  </main>
</BaseLayout>
