---
import BaseLayout from "$layouts/base-layout.astro";
import ChatPanel from "$lib/components/chat-panel.svelte";
---

<BaseLayout>
  <div class="mx-auto flex size-full max-w-3xl flex-col justify-end px-4 py-6">
    <ChatPanel client:load />
  </div>
</BaseLayout>
