# Api
SERVER_PORT=3000

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:${SERVER_PORT}

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
