WEB_URL=http://localhost:5173
API_URL=http://localhost:3000
DATABASE_URL=

# Groq
GROQ_API_KEY=

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_BASE_URL=$API_URL

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
