# Api
PORT=3000

# Web
WEB_URL=http://localhost:4321

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_NAME}

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:${PORT}

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
